body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden !important;
}


/*HelpTopMenu*/

.information {
	position: absolute;
	top: 15px;
	margin-left: 15px;
	color: #fcfcfc;
}

.headerTopMenu {
	padding: 0;
	margin: 0;
	max-width: 100%;
	height: 58px;
	background: #4f4f4f;
	font-family: 'Oswald', sans-serif;
}

.headerTopMenu ul,
.headerTopMenu ol {
	list-style: none;
}

.headerTopMenu > ul {
	display: flex;
	justify-content:center;
}

.headerTopMenu > ul li a {
	display: block;
	padding: 15px 95px 15px 40px;
	font-size: 19px;
	color: #fcfcfc;
	text-decoration: none;
	transition: all 0.5s ease;
}

.headerTopMenu li a:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    color: #4f4f4f;
    box-shadow: 1px 5px 10px -5px #fcfcfc;
    transition: all 0.5s ease;
}

ul {
	margin: 0;
	padding: 0;
}

/*insideMenu*/

.headerTopMenu li ul {
      position: absolute;
      min-width: 202px;
      display: none;
}

.headerTopMenu li > ul li {
	border: 1px solid #606060;
	
} 

.headerTopMenu li > ul li a {
	padding: 15px;
	text-transform: none;
	background: #8c8c8c;
}

.headerTopMenu li:hover > ul {
	display: block;
}


/*Header*/

header {
	max-width: 100%;
	height: 105px;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;	
	
}

.webName {
    position: relative;
    color: white;
    font-size: 50px;
    top: 20px;
    left: 25px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.help {
	position: relative;
	top: 9px;
	margin-left: 27px;
	color: white;
	font-size: 13px;
	font-family: 'Oswald', sans-serif;
}

a {
	text-decoration: none;
}


/*main*/
section {
    width: 100%;
    height: 2400px;
    background: #f2f2f2;
}

/*Content*/



.FullContentWrapper {
	float: left;
}

.FirstContentWrapper {
	max-width: 100%;
}

.firstContentTop {
	top: 50px;
	position: relative;
	max-width: 64%;
	height: 50px;
	margin-left: 95px;
	background: #4f4f4f;
	border-radius: 210px 210px 0 0px;
	color: #fcfcfc;
	font-size: 27px;
}

.firstContentTop h1 {
	position: relative;
	left: 25px;
	margin: 0;
	padding: 0;
}

.content {
	position: relative;
	top: 155px;
	max-width: 64%;
    height: 1100px;
    background: #fcfcfc;  
    margin-left: 95px;
}


.contentFirst {
	position: relative;
	top: 50px;
	max-width: 64%;
	height: 60px;
	background: #fcfcfc;
	margin-left: 95px;
	border-radius: 0 0 21px 21px;
}

.appeal {
	position: relative;
	top: 10px;
	left: 11px;
	color: #cc8c8c;
	font-size: 25px; 
}


/*Content 2*/
.SecondContentWrapper {
	max-width: 100%;
}

.secondContentTop {
	position: relative;
	max-width: 64%;
	height: 60px;
	background: #4f4f4f;
	top: 200px;
	margin-left: 95px;
	border-radius: 120px 120px 0 0;
}

.secondContentTop h1 {
    font-size: 35px;
    position: relative;
    top: 10px;
    left: 21px;
    margin-left: 1px;
	color: #fcfcfc;
}

.InsideContent {
	position: relative;
	top: 25px;
	margin-left: 55px;
	font-size: 23px;
    float: left;
}

.EnglishMotiotion {
	position: relative;
	left: -15px;
	width: 54%;
	float: left;
}

.secondContent {
	position: relative;
	top: 200px;
	margin-left: 95px;
	background: #fcfcfc;
    max-width: 64%;
    height: 385px;
    border-radius: 0 0 21px 21px;
}


/*Third Content*/
.ThirdContentWrapper {
	max-width: 100%;
}

.thirdContentTop {
    position: relative;
    top: 355px;
	max-width: 64%;
	margin-left: 95px;
	height: 60px;
	background: #4f4f4f;
	border-radius: 120px 120px 0 0;
}

.thirdContentTop h1 {
	font-size: 32px;
    position: relative;
    top: 15px;
    left: 21px;
    margin-left: 1px;
	color: #fcfcfc;
}

.Html_Css {
	width: 30%;
	float: left;
}

.InsideThirdContent {
	position: relative;
	top: 20px;
	margin-left: 45px;
	font-size: 23px;
	float: left;
}

.HaudiHo {
	color: #f90000;
}

.thirdContent {
	position: relative;
	top: 355px;
	width: 64%;
	height: 475px;
	max-height: 725px;
	margin-left: 95px;
	background: #fcfcfc;
	border-radius: 0 0 21px 21px;
}


/*FourthContent*/





/*SiteBar*/

.SiteBarWrapper {
	

}

.siteBar {
	position: relative;
	top: 350px;
	max-width: 150px;
	height: 400px;
	background: #e0ecff;
}



/*footer*/

footer {
    max-width: 100%;
    height: 55px;
    background: #4f4f4f;
}

